body {
    background-color: black;
}

a {
    text-decoration: none;

}

.main-head {
    background-color: rgb(0, 41, 80);
    top: 0px;
    left: 0px;
    width: 100%;
    color: white;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 1;

    h1 {
        font-size: 68px;
        // background-color: aqua;
        bottom: 25px;
        margin: 0 25px;
        position: relative;
    }

    nav {

        position: relative;
        left: 25%;
        bottom: 5px;

        ul {
            display: flex;
            padding: 0px;


            li {
                list-style-type: none;


                a {
                    margin: 0 35px;
                    font-size: 32px;
                    color: white;
                }
            }

        }
    }

    .searchbar {
        border-radius: 25px;
        height: 60%;
        background-color: rgb(106, 106, 106);
        display: flex;
        position: relative;
        margin: 20px 0px;
        left: 32%;

        input {
            border: 0px;
            border-radius: 25px 0px 0px 25px;
            font-size: 28px;
        }

        img {
            height: 80%;
            margin: 5px 25px;
        }

    }


    h2 {
        margin: 35px 15px;
        font-size: 32px;
        position: relative;
        left: 33%;
        bottom: 20px;
    }
}

.forumBGC {
    background-color: rgb(32, 28, 28);
    position: relative;
    top: 80px;
    margin: 0 180px;
}

.forumTitle {
    position: relative;
    text-align: center;

    h1 {
        background: rgb(37, 77, 123);
        background: linear-gradient(0deg, rgba(37, 77, 123, 0) 0%, rgba(0, 49, 106, 1) 100%);
        font-size: 120px;
        color: white;
        margin: 0px;
    }

    p {
        color: white;
        font-size: 25px;
        position: relative;
        bottom: 70px;
    }
}

.forumbar {
    position: relative;

    ul {
        display: flex;
        padding: 0px;
        position: relative;
        bottom: 60px;
        justify-content: center;

        li {
            background-color: rgb(0, 49, 106);
            background: linear-gradient(0deg, rgba(0, 49, 106, 1) 0%, rgba(0, 49, 106, 0) 100%);
            width: 10%;
            list-style-type: none;
            font-size: 30px;
            margin: 0 20px;
            border-radius: 25px;
            text-align: center;

            a {
                color: white;
            }
        }
    }


}

.forumpost {
    color: white;
    margin: 0 15px;
    display: flex;

    .forumpost-1 {
        width: 70%;
        height: 100%;
        text-align: center;
        background-color: rgb(26, 27, 55);
        overflow: hidden;
        margin: 0px 15px 0px 0px;

        h1 {
            font-size: 30px;
            background-color: rgb(20, 130, 191);
            position: relative;
            bottom: 20px;
        }

        p {
            text-align: start;
            padding: 10px;
        }

        img {
            width: 100%;
            position: relative;
        }

        .UserBar {
            display: flex;
            background-color: rgb(35, 47, 111);

            img {
                height: 15%;
                width: 15%;
            }

            .UserInfo {
                position: relative;
                font-size: 14px;
                top: 5px;
                margin: 0 5px;

                p {
                    margin: 0px;
                    text-align: start;
                    padding: 0px;
                }
            }

            .Vote {
                width: 20%;
                margin: 0 5px;

                .VotePassive,
                .VoteNegative {
                    display: flex;

                    p {
                        font-size: 18px;
                        position: relative;
                        margin: 0 5px;
                        padding: 0px;
                    }

                    img {
                        width: 20%;
                        margin: 5px;
                    }
                }
            }

            span {
                position: relative;
                top: 50px;
                left: 175px;
                height: 50px;
            }
        }

    }

    .forumpost-2 {
        width: 100%;
        position: relative;
        background-color: aqua;

        .forumpost-2img {
            width: 100%;
            height: 400px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }


        .UserBar {
            background-color: rgba(35, 47, 111, 0.5);
            display: flex;
            position: relative;
            float: right;
            width: 28vw;
            bottom: 8.5vh;

            img {
                height: 15%;
                width: 15%;
            }

            .UserInfo {
                position: relative;
                font-size: 14px;
                top: 5px;

                p {
                    margin: 0px;
                    text-align: start;
                    padding: 0px;
                }
            }

            .Vote {
                width: 20%;

                // height: 80px;
                .VotePassive,
                .VoteNegative {
                    display: flex;

                    p {
                        font-size: 18px;
                        position: relative;
                        margin: 0 5px;
                        padding: 0px;
                    }

                    img {
                        width: 20%;
                        margin: 5px;
                    }
                }
            }

            span {
                position: relative;
                top: 50px;
                left: 190px;
                height: 20px;

            }
        }
    }

    .forumpost-3 {
        width: 100%;
        height: 390px;
        bottom: 70px;
        position: relative;
        overflow: hidden;
        background-color: aquamarine;

        .forumpost-3img {
            width: 100%;

            img {
                width: 100%;
            }
        }


        .UserBar {
            background-color: rgba(35, 47, 111, 0.5);
            display: flex;
            position: relative;
            float: right;
            width: 28vw;
            bottom: 12vw;

            img {
                height: 15%;
                width: 15%;
            }

            .UserInfo {
                position: relative;
                font-size: 14px;
                top: 5px;

                p {
                    margin: 0px;
                    text-align: start;
                    padding: 0px;
                }
            }

            .Vote {
                width: 20%;

                // height: 80px;
                .VotePassive,
                .VoteNegative {
                    display: flex;

                    p {
                        font-size: 18px;
                        position: relative;
                        margin: 0 5px;
                        padding: 0px;
                    }

                    img {
                        width: 20%;
                        margin: 5px;
                    }
                }
            }

            span {
                position: relative;
                top: 48px;
                left: 200px;
                height: 20px;
            }
        }
    }
}

.forumpostMD {
    color: white;
    position: relative;
    bottom: 70px;
    // left: 150px;
    display: flex;
    text-align: center;
    margin: 0 15px;

    .forumpostMD2 {
        margin: 0 5px;
    }

    .MDPostContent {
        background-color: rgb(26, 27, 55);
    }

    h1 {
        font-size: 28px;
        background-color: rgb(20, 130, 191);
        bottom: 20px;
    }

    p {
        font-size: 18px;
        text-align: start;
        padding: 0 15px;
    }

    .UserBar {
        background-color: rgba(35, 47, 111);
        display: flex;
        position: relative;
        // width: 28vw;

        img {
            height: 15%;
            width: 15%;
        }

        .UserInfo {
            position: relative;
            font-size: 12px;
            top: 10px;

            p {
                margin: 0px;
                text-align: start;
                padding: 0px;
                font-size: 12px;

            }
        }

        .Vote {
            width: 20%;

            // height: 80px;
            .VotePassive,
            .VoteNegative {
                display: flex;

                p {
                    font-size: 12px;
                    position: relative;
                    margin: 0 5px;
                    padding: 0px;
                }

                img {
                    width: 15%;
                    margin: 5px;
                }
            }
        }

        span {
            position: relative;
            top: 50px;
            left: 205px;
            font-size: 12px;

        }
    }
}

.forumpostED {
    overflow: hidden;
    height: 600px;
    position: relative;
    bottom: 55px;
    background-color: bisque;
    margin: 15px;

    img {
        width: 100%;
        height: 100%;
    }

    .UserBar {
        background-color: rgba(35, 47, 111, 0.5);
        display: flex;
        position: relative;
        width: 28vw;
        bottom: 4.5vw;
        float: right;

        img {
            height: 15%;
            width: 15%;
        }

        .UserInfo {
            position: relative;
            font-size: 12px;
            top: 10px;

            p {
                margin: 0px;
                text-align: start;
                padding: 0px;
                font-size: 12px;

            }
        }

        .Vote {
            width: 20%;

            // height: 80px;
            .VotePassive,
            .VoteNegative {
                display: flex;

                p {
                    font-size: 12px;
                    position: relative;
                    margin: 0 5px;
                    padding: 0px;
                }

                img {
                    width: 15%;
                    margin: 5px;
                }
            }
        }

        span {
            position: relative;
            top: 60px;
            left: 240px;
            font-size: 12px;

        }
    }
}